body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    height: 7vh;
    width: 100vw;
    background-color:antiquewhite;
    align-items: center;
    flex-direction: row;
}

header li {
    display: flex;
    align-items: center;
}

header li a {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
    font-size: 2vw;
    color: black;
}

header .logo {
    margin-right: 5vw;
    height: 5vh;
}

main {
    display: flex;
    height: 93vh;
}

main section .products {
    display: flex;
    flex-wrap: wrap;
    background-color: gray; 
    height: 93vh;
    width: 60vw;
}

main section .products .product {
    background-color: white;
    width: 15vh;
    height: 15vh;
    margin: 1%;
    min-width: 100px;
    max-width: 200px;
}

main section .side-menu {
    display: flex;
    height: 93vh;
    width: 15vw;
    background-color:cornflowerblue;
}

main section .filters {
    display: flex;
    height: 93vh;
    width: 25vw;
    background-color:beige;
}

section .about {
    display: flex;
    background-color: black;
    height: 50vh;
}